<?xml version="1.0"?><!--
    - Base      : kobuki
    - Stacks    : hexagons
    - Telescopic: telescopic
    - 3d Sensor : xtion
    - Laser		: hokuyo
    
-->    
<robot name="turtlebot" xmlns:xacro="http://ros.org/wiki/xacro">
	
  <xacro:property name="camera_h" value="0.406" />
  <xacro:property name="foot_h" value="0.015" />
  
  <!--
    - Defautl measured positions of telescopic bar (change at you own convenience)
          pos 0: 0.406
          pos 2: 0.671
          pos 3: 0.961
          pos 4: 1.236   
-->  

  <xacro:include filename="$(find turtlebot_description)/urdf/turtlebot_library.urdf.xacro" />
  
  <kobuki/>
  <stack_hexagons                 parent="base_link"/>
  <stack_bar				  	  parent="base_link"/>
  <!--sensor_asus_xtion_pro   		  parent="telescopic_camera_frame"/-->
  <!--sensor_asus_xtion_pro_offset	  		  parent="telescopic_bar_link"/-->
  <!--sensor_asus_xtion_pro_live  name="tb" parent="telescopic_camera_link" >
	<origin xyz="0 0.021 0" rpy="0 0 0" />
   </sensor_asus_xtion_pro_live-->
   
   <sensor_orbbec_astra name="radio" parent="telescopic_camera_link">
      <origin xyz="0 0.011 0" rpy="0 0 0" />
   </sensor_orbbec_astra>
   
   <sensor_hokuyo_urg04lx name="radio" parent="base_link" >
		<origin xyz="0.137 0 0.241" rpy="0 0 0" /> 
   </sensor_hokuyo_urg04lx>
   
  <!--sensor_asus_xtion_pro_offset   parent="base_link"/-->
  <!--sensor_hokuyo   				  parent="base_link"/-->
</robot>
